<nav class="site-header sticky-top py-1">
  <div class="container d-flex flex-column flex-md-row justify-content-between">
    <a class="py-2" href="#">
      <img src="/assets/j4Logo.png" width="30px;">
    </a>
    <a class="py-2 d-none d-md-inline-block" href="#">Games</a>
    <a class="py-2 d-none d-md-inline-block" href="#">Merchandise</a>
    <a class="py-2 d-none d-md-inline-block" href="#">Streams</a>
    <a class="py-2 d-none d-md-inline-block" href="#">Teams</a>
    <a class="py-2 d-none d-md-inline-block" href="#">Support</a>
    <a class="py-2 d-none d-md-inline-block" href="#">About</a>
  </div>
</nav>