<nav class="site-header sticky-top py-1">
  <div class="container d-flex flex-column flex-md-row justify-content-between">
    <a class="py-2" routerLink="/home" >
      <img src="/assets/j4Logo.png" width="30px;">
    </a>
    <a class="py-2 d-none d-md-inline-block" routerLink="/games">Games</a>
    <a class="py-2 d-none d-md-inline-block" routerLink="/merchandise">Merchandise</a>
    <a class="py-2 d-none d-md-inline-block" routerLink="/streams">Streams</a>
    <a class="py-2 d-none d-md-inline-block" routerLink="/teams">Teams</a>
    <a class="py-2 d-none d-md-inline-block" routerLink="/support">Support</a>
    <a class="py-2 d-none d-md-inline-block" routerLink="/about">About</a>
  </div>
</nav>