<div class="card mb-4 box-shadow">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">{{title}}</h4>
    </div>
    <div class="card-body" style="min-width: 250px;">
      <img width="100px;" src="{{gameIcon}}" >
      <!-- <ul class="list-unstyled mt-3 mb-4">
        <li>10 users </li>
        <li>2 GB of storage</li>
        <li>Email support</li>
        <li>Help center access</li>
      </ul> -->
      <button type="button" class="btn btn-lg btn-block btn-outline-primary">Coming Soon</button>
    </div>
  </div>