<footer class="container py-5">
  <div class="row">
    <div class="col-12 col-md">
        <img src="/assets/j4Logo.png" width="30px;">
    </div>
    <div class="col-6 col-md">
      <h5>Games</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Feature Games</a></li>
        <li><a class="text-muted" href="#">Coming Soon</a></li>
        <li><a class="text-muted" href="#">Platforms</a></li>
        <li><a class="text-muted" href="#">Blog</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Teams</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Players</a></li>
        <li><a class="text-muted" href="#">Events</a></li>
        <li><a class="text-muted" href="#">Achievements</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>About</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Our Team</a></li>
        <li><a class="text-muted" href="#">Careers</a></li>
        <li><a class="text-muted" href="#">Locations</a></li>
        <li><a class="text-muted" href="#">Privacy</a></li>
        <li><a class="text-muted" href="#">Terms</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Support</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Contact Us</a></li>
      </ul>
    </div>
  </div>
</footer>